/* Animaciones */
@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}



/* Modal container */
.modal-panel {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  animation: slideFadeIn 0.4s ease-out;
  transition: all 0.3s ease;

  width: 100%;
  max-width: 600px;

  height: auto;
  max-height: none; /* sin límite fijo para permitir crecimiento */
  overflow: visible;

  padding: 2em 1.5em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1e1e1e;
}

.modal-panel.closing {
  animation: slideFadeOut 0.3s ease-out forwards;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
}

/* Close button */
.close-button {
  background-color: rgba(0, 0, 0, 0.85);
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 4px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: absolute;
  top: 1em;
  right: 1em;
}

.close-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
  color: #ffffff;
}

/* Texto */
.modal-panel p {
  margin: 0;
  font-size: 0.95em;
  line-height: 1.4;
}

.modal-description {
  margin-top: 1em;
  font-size: 0.95em;
  line-height: 1.4;
}

/* Imagen */
.modal-image-container {
  min-height: 15em;
  max-height: 20vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal-image.rotate-image {
  transform: rotate(90deg);
  width: 15em;
  height: 24em;
}

/* Botón de acción */
.modal-panel button:not(.close-button) {
  background-color: rgba(255, 255, 255, 0.15);
  color: inherit;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  align-self: center;
  font-size: 0.9em;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-top: 1em;
}

.modal-panel button:not(.close-button):hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Scrollbar personalizada para .modal-panel */
.modal-panel::-webkit-scrollbar {
  width: 6px;
}

.modal-panel::-webkit-scrollbar-track {
  background: transparent;
}

.modal-panel::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.modal-panel::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
