.rightPanel {
  width: 20%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  overflow: visible;
}

.objectInfoContainer {
  flex: 1;
  width: 100%;
  overflow: hidden; /* evita scroll doble */
  position: relative;
}


.extraInfoContainer {
  display: flex;
  width: 100%;
  height: 12em;
}

.extraInfo {
  padding: 0.5em;
  flex: 1;
  overflow: hidden;
}

.extraInfoImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.extraInfo:hover .extraInfoImage {
  /* transform: scale(2) */
}
