.rightPanel {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extraInfoContainer {
  display: flex;
  width: 100%;
  height: 20%;
}

.extraInfo {
  padding: 0.5em;
  border: 1px solid white; /* Borrar esta linea cuando se tengan las imágenes */
}

.extraInfoImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fovInfo {
  flex: 1;
}

.equipmentInfo {
  flex: 1;
}