/* Estilo global para el body */
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: inherit;
}

.modebar {
  display: none !important;
}

main.wrapper {
  background: url(https://cdn.glitch.global/0c0b1603-f7b0-4ebf-bfd7-4c26ddf6d810/StarsBk.jpg?v=1747819884331);
  background-size: 100%;
  height: inherit;
}

/* Contenedor principal del gráfico y modal */
div.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra el contenido */
  align-items: center;
  padding: 0;
  margin: 0;
  /* background-color: black; */
  position: relative; /* Asegura que el modal se posicione sobre el wrapper */
}

/* Contenedor de contenido para centrar el gráfico */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100vw;
  flex-grow: 1;
  background-color: #000000b2;
  height: inherit;
  position: relative;
}

/* Contenedor del gráfico */
.skyChart {
  aspect-ratio: 1 / 1;
  height: calc(100vh - 60px); /* Mantén la altura consistente */
  /* background-color: #000000b2; */
  border-radius: 10px;
  position: relative; /* Asegura que el gráfico se mantenga en su lugar */
}


.muteButton {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 1.5em;
  height: 1.5em;
  background: white;
  border-radius: 1em;
}

.muteButton svg {
  width: 100%;
  height: 100%;
}
