@keyframes loopRotation {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.toolsBarContainer {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  text-align: center;
  height: fit-content;
  margin: 1em 0;
  position: relative;
}

/* COMMON BUTTON STYLES */
.moreInfoButtonContainer,
.connectButtonContainer {
  position: absolute;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loopRotation 0.5s infinite alternate ease-in-out;
}

.moreInfoButtonContainer {
  top: 25%;
  left: -4em;
}

.connectButtonContainer {
  top: 100%;
  left: -4em;
}

.moreInfoButtonContainer svg,
.connectButtonContainer svg {
  width: 100%;
  height: 100%;
  color: #a8e6ff;
  
}

.moreInfoButtonContainer svg:hover,
.connectButtonContainer svg:hover {
  color: #c7a4ff;
}

/* Disable animation if class is added */
.noAnimation svg {
  animation-name: none;
}

/* Hemisphere Selector */
.hemisphereSelectorContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.hemisphereSelector {
  flex: 1;
  padding: 10px;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
  color: #04dbf1;
  transition: 0.2s ease;
}

.hemisphereSelector:hover:not(.activeSelector) {
  background-color: rgba(73, 54, 113, 0.5);
}

.activeSelector {
  background-color: #56299f;
}

/* FOV Selector */
.fovSelectorContainer {
  display: flex;
}

.fovSelector {
  flex: 1;
  text-decoration: none;
  color: #04dbf1;
}

.fovSelector:hover:not(.activeFovSelector) {
  background-color: rgba(73, 54, 113, 0.5);
}
