.toolsBarContainer {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 100%;
  text-align: center;
  height: fit-content;
  margin: 1em 0;
}

/* HEMISPHERE SELECTOR */
.hemisphereSelectorContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.hemisphereSelector {
  flex: 1;
  padding: 10px;
  font-size: 0.9em;
  text-wrap: wrap;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: #04dbf1;
  transition: .2s ease;
}

.hemisphereSelector:hover:not(.activeSelector) {
  background-color: rgba(73, 54, 113, 0.5);
}

.activeSelector {
  background-color: #56299f;
}


/* FOV SELECTOR */
.fovSelectorContainer {
  display: flex;
}

.fovSelector {
  flex: 1;
  text-decoration: none;
  color: #04dbf1;
}

.fovSelector:hover:not(.activeFovSelector) {
  background-color: rgba(73, 54, 113, 0.5);
}

